/*-- scss:defaults --*/

$theme: "united" !default;

.content {
  font-size: 20px
}

.navbar {
  font-size: 22px
}

$purple:  #6f42c1;
$red:     #f57a00;
//$primary:       $red;
$primary:       $purple;



